.result-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    

}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

 

}

.input-field{
    

  border-radius: var( --main-radius);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 100;
   padding: 25px;
  width: 100vh;
  height: 5px;
  
}

.search-button{
    padding: 10px;
    text-align: center;
    border-radius:30px;
    font-size: 27px;
  background-color: var(--primary-text-color);



}

.search-button:hover {
    cursor: pointer;

}

.photos{
  font-size: 50px;
}
.weather-icon {
 font-size: 10px;
  height: 50px;
  margin-bottom: -12px;
}



.f-container {
  border: 10px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center ;
  font-size: 27px;

  background-color: var(--primary-bg-color);
  width: 50vh;
  height: 160vh;
 border-radius: 15px;
  
}


.Forecast-container {
  display : flex;
  gap: 20px;
  align-items: flex-start;
  border: 5px solid #fff;
   margin: 50px 100px;
   border-radius: 15px;

  

}
 .Forecast-container > * {
  flex: 1;
 }


img {
  border-radius: 100px;
}